<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello File</title>
</head>
<body>
    {% comment %}
    <h1>Hello from {{x}}</h1>
    <h2>{{y}}</h2>
    {%  if  a > b %}
            <h3 style="color: red;">{{a}} is Greater</h3>
    {% else %}
      <h3 style="color: blue;">{{b}} is Greater</h3>
    {% endif %}
    <p>-----------------------------------------</p>

    {% for i in y %}
         {{forloop.counter}}
            {{i}}<br>

     {% endfor %}    
 
       
    {% endcomment %}

   {% for i in data %}
    <b>Student Id:</b>{{i.id}} <br>
    <b>Student Name:</b>{{i.name}}<br>
    <b>city:</b>{{i.city}} <br>
    <b>-------------------------------</b><br>
    {% endfor %}
</body>
</html>